// Mixins Here

//Flex Mixins
.centerAlignFlexCol(){
    display: flex;
    flex-direction: column;
    align-items: center;
}
.centerJustifyFlexRow {
    display: flex;
    justify-content: center;
}

//Parametric
.signMeUpButton(@bgColor, @fontColor, @btnWidth, @btnHeight){
    background-color: @bgColor;
    border-radius: 0.5rem;
    color: @fontColor;
    width: @btnWidth;
    text-align: center;
    height: @btnHeight;
    font-size: 1.8rem;
    padding-top: 0.7rem; 

    &:hover {
        background-color: @fontColor;
        color: @bgColor;
        border: 0.5px solid @bgColor;
    }

    @media @phone {
        width: calc(@btnWidth*3.3);
        height: calc(@btnHeight*2);
        padding-top: 2.6rem;
    }
}